/* style utilities */

/* font family */
@import url('https://fonts.googleapis.com/css2?family=Gantari:wght@400;500;700&display=swap');

body {
    font-family: 'Gantari', sans-serif;
}

/* page setup */
* {
    margin: 0;
    padding: 0;
}

.container {
    width: 90%;
    margin: 0 auto;
}

/* navbar style */
header {
    background-image: url('./images/background.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-color: rgba(0, 0, 0, .7);
    background-blend-mode: overlay;
}

nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 80px;
}

nav ul {
    display: flex;
}

nav>ul li {
    list-style: none;
    margin: 0 10px;
    font-size: 1.2em;
}

nav>ul>li a {
    text-decoration: none;
    padding: 10px;
    font-weight: 500;
    color: white;
}

nav>ul>li:hover a {
    color: #F2B84B;
    transition: color .5s ease;
}

/* banner style */
.banner {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    height: calc(100vh - 80px);
}

.banner-text {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
}

.banner-text h1 {
    color: white;
    font-size: 4em;
    font-weight: 900;
}

.banner-text p {
    color: white;
    line-height: 1.5em;
    font-size: 1.2em;
    margin: 20px 0;
}

.primary-button {
    color: white;
    background-image: linear-gradient(90deg, #e7ad41, #ee7b38);
    padding: 15px;
    font-size: 1em;
    font-weight: 600;
    border: none;
    border-radius: 15px;
}

.primary-button:hover {
    background-image: linear-gradient(90deg, #ee7b38, #e7ad41);
}

.banner-img {
    display: flex;
    align-items: flex-end;
    justify-content: center;
}

.banner-img img {
    width: 100%;
}

/* feature style */
.section-title {
    color: #e7ad41;
    font-size: 2em;
    text-align: center;
    margin: 50px 0;
}

.feature {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 30px;
}

.card {
    width: 400px;
    box-sizing: border-box;
    object-fit: cover;
    box-shadow: 2px 2px 20px rgba(128, 128, 128, 0.21);
}

.card-img img {
    width: 100%;
}

.card-info h2 {
    font-size: 1.5em;
    color: #ee7b38;
    margin: 10px 0;

}

.card-info p {
    margin: 10px 0;
    text-align: justify;
}